nav {
    display: flex;
    /* border: 1px solid #000; */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 10px;
    margin: 10px;
    transition: all 1s;
}

.logo:hover {
    transform: rotate(1turn);
}

.logo img {
    width: 100%;
}

.links {
    margin-right: 30px;
}

.links ul {
    display: flex;
}

.links ul li,
li a {
    list-style: none;
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
}

button {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: #0a0a0a;
    font-weight: 600;
    background-color: #12d3e0;
    transition: all 1s;
}

button:hover {
    background-color: #0aa0aa;
}

.logout {
    position: relative;
    top: -10px;
}