.form {
    display: flex;
    border: 1px solid #000;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 200px;
    width: 60%;
}

.input {
    width: 70%;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #646464;
    background-color: #bab9b9;
    transition: all 1s;
}

.input:hover {
    background-color: #e9e8e8;
}

input::placeholder {
    padding: 10px;
    color: #000;
    font-weight: 600;
}

h1 {
    text-align: center;
}

label {
    margin: 10px 0px;
    font-weight: 700;
}

button {
    margin: 10px 0px;
}

.btn {
    display: flex;
    width: 30%;
    margin: auto;
    justify-content: space-evenly;
    /* border: 1px solid #000; */
}

.btn button:first-child {
    background-color: #1685ed;
    color: #fff;
}

.btn button:first-child:hover {
    background-color: #0456a3;
    color: #fff;
}

.btn button:nth-of-type(2) {
    background-color: #ed1616;
    color: #fff;
}

.btn button:nth-of-type(2):hover {
    background-color: #ca3636;
    color: #fff;
}


/* h1:hover {
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}