html,
body,
*,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 20px 0;
    text-align: center;
}

header {
    display: flex;
    background-color: #000;
    padding: 20px;
    justify-content: space-between;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
}

nav ul li {
    display: inline;
}

nav li {
    margin-left: 15px;
}


/* main {
    width: 90%;
    border: 1px solid #000;
    margin: auto;
} */

.main_section {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    margin: auto;
    justify-content: space-evenly;
    margin-top: 20px;
}

.main_cards img {
    width: 370px;
}

.main_cards p {
    margin: 10px 0;
}

.section_two {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.ad {
    width: 370px;
    height: 300px;
    margin-top: 24px;
    position: relative;
    left: 35px;
}

.ad img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ad p {
    text-align: center;
    margin-top: 10px;
}

.little_dogs {
    /* border: 1px solid #000; */
    display: flex;
    width: 60%;
    flex-flow: row wrap;
    height: 400px;
    justify-content: space-evenly;
    margin-top: 14.5px;
}

.little_dogs img {
    /* border: 1px solid #000;*/
    width: 200px;
}

.list_one,
.list_two {
    /* border: 1px solid #000;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.list_one {
    position: relative;
    right: 51px;
}

.list_two {
    position: relative;
    right: 31px;
}

.dogs {
    /* border: 1px solid #000;*/
    display: flex;
    align-items: center;
    width: 310px;
    margin: auto;
}

.dogs p {
    margin: auto;
    margin-left: 30px;
}